{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1> Bienvenue sur la page Contact </h1>

{#
    https://codereviewvideos.com/course/symfony-4-beginners-tutorial/video/symfony-4-contact-form

    https://codereviewvideos.com/course/symfony-4-beginners-tutorial/video/send-email-symfony-4
#}

{% endblock %}