{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}
<h1> Bienvenue sur la page Info </h1>

<p> 
	Cette page est inutile pour l'instant , voir si on peut pas en faire une page d'information sur les objectifs du site 
	avec une redirection sur la page de la mission ecole-entreprise du rectorat ou si on peut pas en faire une page sur 
	des retours des visiteurs du site sur le site. 
</p>

{% endblock %}