{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}

<section>
	<article>

		<h3 class="text-primary" id="mission">La mission "École-Entreprise" </h3>

		<p class="text-justify font-weight-bold">
			La mission école-entreprise du rectorat, attachée à la délégation académique
			à la formation professionnelle initiale et continue (DAFPIC) est l’interface
			entre les établissements de formation et les acteurs du monde économique et 
			professionnel. 
						
		</p>

		<p>
			Elle a pour mission de :

		</p>

		<ul>
			<li class="text-justify">
				impulser, animer, coordonner, promouvoir et mutualiser au niveau académique
				les relations partenariales avec les branches professionnelles, les organisations
				professionnelles et interprofessionnelles et les entreprises.
			</li>

			<li class="text-justify">
				impulser et accompagner les projets portant sur la connaissance du monde professionnel.
			</li>

			<li class="text-justify">
				accompagner les établissements dans la mise en œuvre d’actions de partenariat avec les entreprises.
			</li>

			<li class="text-justify">
				 être un appui dans le domaine de la gestion des stages élèves 
				 (domaine réglementaire, dérogations aux PFE/PFMP, bourses, banque de stages, stages à l’étranger)
			</li>

			<li class="text-justify">
				 être un appui dans la conduite de projets 
				 (lycée des métiers, cellule école- entreprise, référent école-entreprise en collège).
			</li>
		</ul>

		<p class="text-justify" >
			La mission école-entreprise travaille en lien en interne, 
			notamment avec les chefs d’établissements, les enseignants, les 
			corps d’inspection et le service académique d’information et d’orientation (SAIO), 
			et en externe avec les organisations professionnelles et consulaires, les collectivités territoriales et les entreprises.
		</p>

		<h4 class="text-primary"> Contacts </h4>

		<ul>
			<li class="text-justify">
				Nelly Clerval, chargée de mission école-entreprise
				<br>
				Tél : 03 81 65 74 27
				<br>
				<div class="text-info" > Courriel : nelly.clerval@ac-besancon.fr </div>
			</li>

			<li class="text-justify">
				Jean-Philippe Rosnet, chargé de mission
				<br>
				<div class="text-info" > Courriel : jean-phili.rosnet@ac-besancon.fr</div>

			</li>

			<li class="text-justify">
				Secrétariat DAFPIC école-entreprise
				<br>
				Tél. : 03 81 65 74 48
				<br>
				<div class="text-info" > Courriel : ce.dafpic@ac-besancon.fr</div>
			</li>

			<li class="text-justify">
				Graziella Galante-Bertolin
				<br>
				Tél. : 03 81 65 73 74
				<br>
				<div class="text-info" > Courriel : graziella.galante-bertolin@ac-besancon.fr</div>
			</li>

			<li class="text-justify">
				 Séverine Fusaro
				 <br>
				 Tél. : 03 81 65 74 48
				 <br>
				 <div class="text-info" > Courriel : severine.fusaro@ac-besancon.fr</div>
			</li>

		</ul>

		<br<br>

		<h3 class="text-primary" id="actualite">Actualités des actions </h3>

		<p class="text-justify">
			<strong>
				La mission école-entreprise de la DAFPIC vise à développer des relations durables entre l’école et l’ensemble des acteurs du tissu économique local : découvrez l’actualité des actions pédagogiques auxquelles vous pouvez participer !
			</strong>

		</p>

		<h4 class="text-primary">Capsules vidéos</h4>

		<a href="https://www.dailymotion.com/playlist/x56nzh">L’actualité des actions en vidéo</a>
		<br><br>

		<h4 class="text-primary">Toutes les actions</h4>

		<a href="http://www.ac-besancon.fr/spip.php?article7093">Des actions clé en main</a>

		<br><br>

		<h3 class="text-primary" id="partenariats">Partenariats avec le monde professionnel </h3>

		<p class="text-justify font-weight-bold">
			Depuis plusieurs années, le ministère de l’Éducation nationale a établi
			des liens privilégiés avec des organisations professionnelles ou des 
			entreprises de dimension nationale, afin de promouvoir l’enseignement professionnel
			et de renforcer les partenariats entre les établissements scolaires et les entreprises.
						
		</p>

		<h4 class="text-primary"> Les conventions de partenariat </h4>

		<h5 class="text-primary"> Au niveau national </h5>

		<h6 class="text-primary"> Les conventions-cadres de coopération </h6>
		<div class="container">
			<p class="text-justify">
				Depuis 1972, en application des lois de 1971 sur la formation professionnelle
				et l’apprentissage, un certain nombre d’organisations professionnelles ont conclu 
				avec le ministère en charge de l’éducation nationale des conventions générales de
				coopération dites conventions-cadres.
			</p>


			<ul>
				<li>
					<a href="http://eduscol.education.fr/cid45661/conventions-cadres.html"> Qu’est-ce qu’une convention-cadre ? </a>
				</li>

				<li>
					<a href="http://eduscol.education.fr/cid45659/conventions-cadres-textes.html">Conventions-cadres signées par le ministère </a>
				</li>
			</ul>
		</div>

		<h6 class="text-primary"> Les accords-cadres </h6>

		<div class="container">

			<p class="text-justify">
				L’accord-cadre traduit la volonté du ministère en chargede l’Éducation nationale
				et des entreprises de dimension nationale ou organisations professionnelles, 
				de définir des axes de collaboration pour promouvoir les actions d’information,
				de formation, et d’insertion, destinées aux élèves et aux étudiants en formation 
				professionnelle et technologique initiale.
			</p>

			<ul>
				<li>
					<a href="http://eduscol.education.fr/cid45663/accords-cadres.html">Qu’est-ce qu’un accord-cadre de coopération ? </a>
				</li>

				<li>
					<a href="http://eduscol.education.fr/cid45665/accords-cadres-textes.html">Textes des accords-cadres signés par le ministère </a>
				</li>
			</ul>

		</div>

		<h5 class="text-primary">Au niveau académique</h5>

		<p class="text-justify">
			L’académie de Besançon a comme objectif de développer les partenariats avec
			les acteurs professionnels et économiques, en déclinant les conventions ou
			accords-cadres nationaux, ou en élaborant ses propres conventions.
		</p>

		<h6 class="text-primary">Liste des conventions signées entre le rectorat et les partenaires économiques </h6>

		<div class="container">

			<p class="text-justify">
				<strong>Convention académique Rectorat - Banque de France Franche-Comté</strong>
				<br>
				9 octobre 2018
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/convention_banque_de_france-academies_besancon_et_dijon.pdf">
						Convention académique Rectorat - Banque de France Franche-Comté
					</a>
				</li>

				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/fiches-actions_bdf_2018-2019.pdf">
						Plan d’actions 2018-2019 
					</a>
				</li>
			</ul>

			<br>

			<p class="text-justify">
				<strong>Convention académique Rectorat - Enedis </strong>
				<br>
				mardi 4 avril 2018
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/IMG/docx/convention_enedis.docx">
						Convention Rectorat - Enedis 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention académique rectorat de Besançon et EDF</strong>
				<br>
				29 juin 2017
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/fiches-actions_edf_annee_2017-2018.pdf">
						Fiches actions EDF - Année scolaire 2017-2018 
					</a>
				</li>

				<li>
					<a href="http://www.ac-besancon.fr/IMG/docx/convention_edf-en_version_definitive-20_juin-1.docx">
						Convention académique rectorat de Besançon - EDF
					</a>
				</li>
			</ul>

			<br>

			<p class="text-justify">
				<strong>Convention académique Rectorat - Marine nationale </strong>
				<br>
				17 janvier 2017 : concerne les établissements qui préparent aux baccalauréats professionnels cuisine et commercialisation et services en restauration
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/1._convention_marine_nationale.pdf">
						Convention académique Rectorat - Marine nationale 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention académique Rectorat - Frtp de Franche-Comté </strong>
				<br>
				27 octobre 2016
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/convention-frtp-10-2016.pdf">
						Convention académique Rectorat - Frtp de Franche-Comté 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention académique Rectorat - Centre national interprofessionnel de l’économie laitière</strong>
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/3._convention_cniel.pdf">
						Convention académique Rectorat - Centre national interprofessionnel de l’économie laitière 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention de partenariat entre le Rectorat et le Groupe Hermès </strong>
				<br>
				17 septembre 2015
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/5.convention_hermes.pdf">
						Convention de partenariat entre le Rectorat - Groupe Hermès 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention de partenariat Rectorat - Umih région Franche-Comté  </strong>
				<br>
				11 juin 2015
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/6._convention_umih.pdf">
						Convention de partenariat Rectorat - Umih région Franche-Comté  
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention régionale "Quiz Économie et territoires de Franche-Comté" </strong>
				<br>
				Renouvelée le 30 janvier 2017 : entre le rectorat de l’académique de Besançon, le rectorat
				de l’académie de Bourgogne, la Caisse d’épargne de Bourgogne Franche-Comté, le Réseau Entreprendre
				Franche-Comté, le Réseau Entreprendre Bourgogne, la Chambre de Commerce et d’Industrie de région 
				Franche-Comté et la Chambre de Commerce et d’Industrie de région Bourgogne.
				<br>
				Cette convention, renouvelée chaque année, porte sur une action éducative destinée à développer
				une approche originale des réalités économiques régionales auprès des élèves de seconde par l’intermédiaire
				d’un quiz.
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/9._convention_quiz_econonmie.pdf">
						Convention régionale "Quiz économie et territoires de Franche-Comté" 
					</a>
				</li>

			</ul>
			<br>

			<p class="text-justify">
				<strong>Convention relative au développement des actions "Relations école-entreprise" </strong>
				<br>
				28 novembre 2011 : entre le rectorat de l’académie de Besançon, la Région Franche-Comté, 
				le mouvement des entreprises de France Franche-Comté (MEDEF), la chambre de commerce et 
				d’industrie de région Franche-Comté (CCIR), la confédération générale des petites et moyennes 
				entreprises (CGPME), l’union professionnelle artisanale (UPA) et la chambre 
				régionale des métiers et de l’artisanat de Franche-Comté (CRMA).
				<br><br>	
				Cette convention est une spécificité de l’académie de Besançon. Les partenaires travaillent
				à un rapprochement, tant par des opérations de découverte de leurs systèmes respectifs que 
				par la sensibilisation des enseignants et des élèves à l’entreprise, aux métiers et aux filières.
				Une des actions phares du comité de pilotage est la "Semaine école-entreprise" organisée chaque
				année au mois de novembre.
			</p>

			<ul>
				<li>
					<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/10.convention_ree_28_nov_2012.pdf">
						Convention relative au développement des actions "Relations école-entreprise"  
					</a>
				</li>

			</ul>
			<br>


		</div>

		<h4 class="text-primary"> Contacts </h4>

		<ul>
			<li class="text-justify">
				 Séverine Fusaro
				 <br>
				 Tél. : 03 81 65 74 48
				 <br>
				 <div class="text-info" > Courriel : severine.fusaro@ac-besancon.fr</div>
			</li>

			<li class="text-justify">
				Graziella Galante-Bertolin
				<br>
				Tél. : 03 81 65 73 74
				<br>
				<div class="text-info" > Courriel : graziella.galante-bertolin@ac-besancon.fr</div>
			</li>
			
			<li class="text-justify">
				Isabelle Maire
				<br>
				Tél. : 03 81 65 74 27 
				<br>
				<div class="text-info" > Courriel : isabelle.maire@ac-besancon.fr</div>
			</li>

		</ul>

		<h3 class="text-primary " id="lycee">Le lycée des métiers</h3>

		<h4 class="text-primary ">Définition</h4>

		<p>
			<strong>
				Les objectifs 
			</strong>
			Le label lycée des métiers a pour objectifs : 
		</p>

		<ul>
				<li>
					de promouvoir la voie technologique et professionnelle 
				</li>
				
				<li>
					d’identifier des pôles de compétences d’un établissement ou d’un réseau d’établissements
				</li>
				
				<li>
					 de permettre aux établissements de communiquer sur l’obtention du label qualité et de valoriser son offre de formation.
				</li>
		</ul>

		<p class="text-justify">
			Le label "lycée des métiers" qualifie une "démarche qualité" accessible à tout lycée professionnel
			ou polyvalent associant les voies professionnelle et technologique et qui offre des formations et 
			des services conformes à des critères obligatoires.
		</p>

		<img src="http://www.ac-besancon.fr/local/cache-vignettes/L239xH240/logo-ldm-d5c15.png?1552643906">
		<br><br>
		<h4 class="text-primary ">Les textes</h4>

		<p class="text-justify">
			Le décret relatif au label " lycée des métiers" est paru au JO du 11 novembre 2005, conformément
			à l’article 33 de la loi d’orientation et de programme pour l’avenir de l’école. Il fait référence
			à l’article L.335-1 du code de l’éducation modifié par la loi d’orientation. Ce décret a été modifié
			le 27 janvier 2016 par le décret n°2016-48. Il modifie les critères de labellisation et allège la procédure
			académique de délivrance du label.
		</p>

		<p class="text-justify">
			Il comprend les articles définissant le concept, les critères, les instances de pilotage et d’animation,
			les modalités d’éligibilité et de délivrance du label.
		</p>

		<p class="text-justify">
			La circulaire ministérielle n°2016-129 du 31-08-2016 a pour objet de préciser les objectifs et conditions
			de mise en œuvre de l’article L.331 et de son décret d’application. Elle définit les exigences qui fondent
			l’appellation "lycée des métiers". Elle encourage les démarches d’amélioration continue, telle que Qualéduc,
			et renvoie pour chaque critère à une des fiches du guide Qualéduc.
		</p>

		<a href="http://eduscol.education.fr/cid47567/textes-de-reference.html"> Les textes de réference sur le site Éduscol</a>

		<br><br>

		<h4 class="text-primary ">Les critères nationaux de labellisation</h4>

		<p class="text-justify">
			Chaque établissement sollicitant le label ou son renouvellement doit avoir défini et mis en place une organisation
			répondant à un cahier des charges académique reprenant au moins les sept critères suivants : 
		</p>

		<ol>
			<li>
				une offre de formations professionnelles construite autour d’un ensemble de métiers et de parcours de formation, 
			</li>
			
			<li>
				l’accueil de publics de statuts différents, 
			</li>
			
			<li>
				un partenariat actif avec le tissu économique local et les organismes de proximité agissant dans les domaines de
				la formation professionnelle, de l’orientation et de l’insertion, 
			</li>
			
			<li>
				l’organisation d’actions culturelles, 
			</li>
			
			<li>
				la mise en œuvre d’actions visant à l’ouverture internationale, 
			</li>
			
			<li>
				la mise en place et le suivi d’actions pour prévenir le décrochage scolaire et pour accueillir des jeunes bénéficiant
				du droit au retour en formation initiale prévu à l’article L. 1222, 
			</li>
			
			<li>
				une politique active de communication.
			</li>
		</ol>

		<h4 class="text-primary"> Contacts </h4>

		<ul>

			<li class="text-justify">
				Graziella Galante-Bertolin
				<br>
				Tél. : 03 81 65 73 74
				<br>
				<div class="text-info" > Courriel : graziella.galante-bertolin@ac-besancon.fr</div>
			</li>


		</ul>

		<h4 class="text-primary"> Les lycées des métiers en Franche-Comté </h4>

		<p class="text-justify"> 
			19 lycées de l’académie ont obtenu le label "lycée des métiers".
		</p>

		<ul>
			<li>
				<h5 class="text-primary"> Lycée des métiers des arts du métal </h5>
				Lycée professionnel public
				<br>
				Lycée des métiers des arts du métal
				<br>
				<strong>Ferdinand Fillod</strong> - Saint-Amour
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390914G"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary"> Lycée des métiers de l'automobile et du transport</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers de l'automobile et du transport
				<br>
				<strong>Henri Fertet</strong> - Gray
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0700011G"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers du bois</h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers du bois
				<br>
				<strong>du Bois</strong>- Mouchard
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390029V"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de la construction durable</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers de la construction durable
				<br>
				<strong>Pierre-Adrien Pâris</strong>- Besançon
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0250013D"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers éco-matériaux et éco-services</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers éco-matériaux et éco-services
				<br>
				<strong>Nelson Mandela</strong>- Audincourt
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0250001R"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'électricité, des technologies numériques et de la productique</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers de l'électricité, des technologies numériques et de la productique
				<br>
				<strong>Denis Diderot </strong>- Bavilliers
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0900355X"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'énergie et du développement durable</h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers de l'énergie et du développement durable
				<br>
				<strong>Louis Aragon</strong> - Héricourt
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0701035V"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'horlogerie, de la bijouterie et de la joaillerie</h5>
				Lycée polyvalent public	
				<br>
				Lycée des métiers de l'horlogerie, de la bijouterie et de la joaillerie
				<br>
				<strong>Edgar Faure </strong>- Morteau
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0251671F"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'hôtellerie et de la restauration</h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers de l'hôtellerie et de la restauration
				<br>
				<strong>Hyacinthe Friant</strong>- Poligny
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390033Z"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de la microtechnique et de l'automatique </h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers de la microtechnique et de l'automatique
				<br>
				<strong> Jules Haag</strong>- Besançon
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0250011B"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary"> Lycée des métiers de la mode et de lesthétique</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers de la mode et de lesthétique
				<br>
				<strong>Jacques Prévert </strong>- Dole
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390015E"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'ingénierie numérique</h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers de l'ingénierie numérique
				<br>
				<strong>Édouard Belin  </strong> - Vesoul
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0700905D"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de l'optique et des microtechniques</h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers de l'optique et des microtechniques
				<br>
				<strong>Victor Bérard </strong>- Hauts de Bienne
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390027T"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers de la sécurité et de la prévention</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers de la sécurité et de la prévention
				<br>
				<strong>Les Huisselets</strong> - Montbéliard
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0250067M"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers des services aux collectivités, aux entreprises et à la personne</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers des services aux collectivités, aux entreprises et à la personne
				<br>
				<strong> Jules Ferry</strong> - Delle
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0900019G"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers des services et soins à la personne et de l'hôtellerie-restauration</h5>
				Lycée professionnel public
				<br>
				Lycée des métiers des services et soins à la personne et de l'hôtellerie-restauration
				<br>
				<strong> Condé</strong> - Besançon
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0250014E"> Informations complètes </a>
			</li>
			
			<br>
			
			<li>
				<h5 class="text-primary">Lycée des métiers du sanitaire et du social </h5>
				Lycée polyvalent public
				<br>
				Lycée des métiers du sanitaire et du social
				<br>
				<strong>Hyacinthe Friant </strong> - Poligny
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390033Z"> Informations complètes </a>
				<br><br>
				
				Lycée professionnel public
				<br>
				Lycée des métiers du sanitaire et du social
				<br>
				<strong>Montciel </strong> - Lons-le-Saunier
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0390021L"> Informations complètes </a>
				<br><br>
				
				Lycée polyvalent public
				<br>
				Lycée des métiers du sanitaire et du social
				<br>
				<strong>Paul Émile Victor</strong> - Champagnole
				<br>
				<a href="http://www.ac-besancon.fr/squelettes/Google/fiche/fiche.php?identifiant=0391092A"> Informations complètes </a>
			
			</li>
			
			<br>	
			
		</ul>

		<h3 class="text-primary" id="cmq" >Les campus des métiers et des qualifications (CMQ)</h3>

		<p class="text-justify">
			<strong>
				Les (CMQ) réunissent, sur un territoire donné, un ensemble d’acteurs (région, Direccte, établissements d’enseignement
				secondaire et supérieur, entreprises, laboratoires de recherche, plateformes technologiques, collectivités territoriales,
				organisations professionnelles...).
			</strong>
		</p>

		<p class="text justify">
			Les (CMQ) favorisent les parcours modulables et mixtes, en offrant une large gamme de formations professionnelles, technologiques
			et générales, secondaires et supérieures, dans un secteur d’activité d’avenir correspondant à un enjeu économique national ou régional.
		</p>

		<img src="http://www.ac-besancon.fr/local/cache-vignettes/L269xH179/cmq-62f31.png?1552643906">

		<br><br>

		<h4 class="text-primary">Objectifs</h4>

		<p>Les campus contribuent ainsi à : </p>

		<ul>
			<li>
				développer les filières d’avenir, 
			</li>
				 
			<li>
				élever le niveau de qualification,
			</li>
			
			<li>
				faciliter l’insertion dans l’emploi, 
			</li>
			
			<li>
				renforcer les coopérations entre le système éducatif et le monde économique 
			</li>
			
			<li>
				développer la mobilité internationale pour les étudiants, les élèves et les apprentis.
			</li>
		</ul>

		<h4 class="text-primary">Labellisation</h4>

		<p class="text-justify">
			Les projets de campus font l’objet d’une labellisation pour une durée de quatre ans, renouvelable.
			Cette labellisation est attribuée par une commission nationale composée de représentants des collectivités
			régionales, des recteurs, de l’Association des régions de France (ARF), des inspections générales de l’éducation
			nationale, des directions du ministère chargé de l’Éducation nationale et de l’Enseignement supérieur
			et du ministère en charge de l’Économie
		</p>

		<a href="http://www.cmq-bfc.org/">Un site pour tout savoir sur les CMQ en Bourgogne-Franche-Comté </a>

		<br><br>

		<h4 class="text-primary">Textes de référence</h4>

		<p>
			Création du label "Campus des métiers et des qualifications" : définition et modalités d’attribution du label
		</p>

		<a href="http://www.education.gouv.fr/pid25535/bulletin_officiel.html?cid_bo=82737">
		Décret n° 2014-1100 du 29 septembre 2014 - Journal officiel du 1er octobre 2014
		</a>

		<br><br>

		<p>
			Liste des campus des métiers et des qualifications établie au titre de l’appel à projets du 20 février 2014
		</p>

		<a href="http://www.education.gouv.fr/pid25535/bulletin_officiel.html?cid_bo=87552"> 
		Arrêté du 9 mars 2015 - Journal officiel du 1er avril 2015
		</a>
		<br><br>
		<p>
			Liste des Campus des métiers et des qualifications établie au titre de l’appel à projets du 6 mai 2013
		</p>

		<a href="http://www.education.gouv.fr/pid25535/bulletin_officiel.html?cid_bo=87550"> 
		Décision du 9 mars 2015 - Journal officiel du 31 mars 2015
		</a>
		<br><br>
		<p>
			Liste des campus des métiers et des qualifications établie au titre de l’appel à projets du 20 février 2014
		</p>

		<a href="http://www.education.gouv.fr/pid285/bulletin_officiel.html?cid_bo=99278"> 
		Arrêté du 28 janvier 2016 - Journal officiel du 19 février 2016
		</a>
		<br><br>
		<p>
			Liste des campus des métiers et des qualifications établie au titre de l’appel à projets du 13 avril 2016
		</p>

		<a href="https://www.legifrance.gouv.fr/affichTexte.do;jsessionid=F9AF56B8F17559E426CF439A06854665.tpdila14v_2?cidTexte=JORFTEXT000034024410&dateTexte=&oldAction=rechJO&categorieLien=id&idJO=JORFCONT000034024178"> 
		Arrêté du 9 février 2017 - Journal officiel du 11 février 2017
		</a>
		<br><br>

		<h3 class="text-primary" id="plateforme">Les plateformes technologiques (PFT) </h3>

		<p>
			<strong>
				Les plateformes technologiques dans l’académie de Besançon
			</strong>
		</p>

		<h4 class="text-primary">Définition, missions et objectifs</h4>

		<p class="text-justify">
			Les plateformes technologiques (PFT) ont pour mission d’organiser sur un territoire le soutien apporté à
			l’innovation et à la modernisation des entreprises par les établissements d’enseignement : les lycées d’enseignement
			général et technologique, les lycées professionnels, les établissements d’enseignement supérieur et les structures publiques
			ou privées disposant de plateaux techniques identifiés autour d’une thématique commune.
		</p>

		<p class="text-justify">
			Outre l’objectif de mutualiser leurs compétences et ressources pour le développement économique régional, les PFT ont également
			un objectif pédagogique : l’exécution de prestations pour les entreprises est l’occasion pour l’élève de mettre en œuvre ses
			acquis, d’appréhender l’entreprise et de faciliter son insertion. Elle est, pour le lycée, l’opportunité de valoriser la voie
			technologique et professionnelle et le cas échéant, d’adapter sa formation. Elle permet à l’enseignant de générer une source d’innovation pédagogique.
		</p>

		<h4 class="text-primary">Ressources</h4>

		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/memo_des_pft-bfc.pdf">Mémo des PFT</a>
		<br><br>
		<ul>
			<li>Les moyens techniques et humains des établissements partenaires /li>
			<li>Des matériels spécifiquement dédiés pour l’entreprise /li>
		</ul>

		<h4 class="text-primary">Contact</h4>

		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/annuaire_des_pft-bfc.pdf">Annuaire des PFT </a>
		<p>
			Délégation académique à la formation professionnelle initiale et continue, mission école-entreprise - plateformes technologiques
		</p>
		<p> Tél : 03 81 65 74 48 </p>
		<p> Fax : 03 81 65 74 49 </p>

		<h4 class="text-primary">Structures et compétences</h4>

		<ul>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1834">Plateforme "Développement et intégration de solutions optiques" (DISO) </a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1835">Plateforme "Tecbois"</a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1836">Plateforme "Microtechniques-Prototypage"</a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article4261">Plateforme "Nouveaux produits pour les mobilités du futur" (NPMF)</a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1838">Plateforme "Usinage à grande vitesse" (UGV)</a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article3762">Plateforme "Académie du cuir" </a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1833">Plateforme "Agroéquipements et agriculture durable" (A²d)</a></li>
			<li><a href="http://www.ac-besancon.fr/spip.php?article1837">Plateforme "Agroalimentaire" Innov@lim</a></li>
		</ul>

		<h3 class="text-primary" id="periode">Les périodes de formation en milieu professionnel des élèves</h3>

		<p class="text-justify">
			<strong>
				Le terme de stage recouvre un certain nombre de dispositifs différents, qui concernent aussi bien les collégiens que les élèves de lycées
				professionnels et technologiques
			</strong>
		</p>

		<a href="http://eduscol.education.fr/D0046/PPFDEF01.htm">En savoir plus sur le site Éduscol</a>


		<h4 class="text-primary">Pôles de stages </h4>

		<a href="http://www.education.gouv.fr/pid25535/bulletin_officiel.html?cid_bo=86521">Circulaire n°2015-035 du 25 février 2015</a>

		<br><br>
		<p class="text-justify">
			Que ce soit pour leur orientation ou leur formation, tous les collégiens, les lycéens des voies professionnelle et technologique,
			les étudiants des sections de technicien supérieur et les apprentis, sont appelés à réaliser des périodes d’observation
			ou de formation en entreprise (séquences d’observation en collèges, périodes de formation en milieu professionnel en lycées, stages
			pour les étudiants, contrats d’apprentissage pour les apprentis).
		</p>

		<p class="text-justify">
			Mais tous les jeunes ne bénéficient pas encore d’une réelle égalité d’accès, pour des raisons diverses (situation géographique,
			discriminations, faible mobilité, manque de maturité, situation de handicap, jeunes sortant d’une période de détention ...).
		</p>

		<p class="text-justify">
			Afin de surmonter les difficultés et les inégalités, il convient d’accompagner élèves, apprentis et étudiants dans la recherche de lieux de stages.
		</p>

		<p class="text-justify">
			À cet effet, l’académie de Besançon a mis en place cinq pôles de stages, qui font partie des différents comités locaux école-entreprise (CLEE) installés
			sur les cinq bassins d’éducation et de formation du territoire durant l’année scolaire 2016/2017. Les pôles de stage visent à permettre à chaque élève ou
			étudiant de bénéficier d’un stage de qualité.
		</p>

		<p class="text-justify">
			Le pôle est composé d’acteurs représentatifs de l’ensemble des entités qui ont à traiter de l’orientation, la formation et l’insertion professionnelle.
			Il prend idéalement appui sur les établissements de la zone d’emploi, les centres d’information et d’orientation (C.I.O.), les représentants du monde économique local :
			représentants locaux des fédérations et branches professionnelles, représentants des entreprises ayant signée une convention de partenariat avec l’académie,
			chambres consulaires (C.C.I., Chambre de métiers), missions locales, pôle emploi, collectivités territoriales, organisation représentatives des élèves et des parents d’élèves, etc.
		</p>

		<h4 class="text-primary">Convention de stage</h4>

		<p class="text-justify">
			La convention de stage est obligatoire pour toute période en entreprise effectuée par un élève dans le cadre de sa formation, que cette période ait lieu en France ou à l’étranger.
			Signée par le chef d’établissement et le chef d’entreprise, elle précise les engagements et les obligations de l’entreprise, de l’établissement scolaire et de l’élève.
			Elle comporte des dispositions administratives et des annexes.
		</p>

		<p class="text-justify">
		<a href="http://www.education.gouv.fr/pid285/bulletin_officiel.html?cid_bo=100542">Circulaire n°2016-053 du 29 mars 2016 </a>
		Organisation et accompagnement des périodes de formation en milieu professionnel
		</p>

		<h4 class="text-primary">Calendrier des stages</h4>

		<a href="http://www.ac-besancon.fr/spip.php?article606">Base costa</a>
		<br><br>

		<p class="text-justify">
			<strong>
				Costa est un instrument de régulation des périodes de formation entre les établissements.
			</strong>
			Chaque établissement peut consulter cette base avant de fixer les dates des stages ou des périodes de formation en entreprise pour les élèves qu’il scolarise.
		</p>

		<p class="text-justify">
			<strong>
				Costa est un instrument qui fournit des informations utiles à différents acteurs.
			</strong>
			Costa permet aux services rectoraux et aux inspections pédagogiques de connaître les périodes pendant lesquelles les élèves sont en stage ou en période de formation en entreprise.
		</p>

		<p class="text-justify">
			De plus, les données recueillies dans Costa peuvent utilement être exploitées pour renseigner et enrichir la banque de stage académique "Mon stage en ligne".
		</p>

		<p class="text-justify">
			<strong>
				Costa sert à calculer le montant des crédits délégués aux établissements.
			</strong>
			Ces crédits servent à rembourser les charges engagées à l’occasion des déplacements des élèves et des enseignants.
		</p>

		<h4 class="text-primary">Dispositif régional de soutien aux élèves et étudiants dans le cadre de leur formation en entreprise</h4>

		<ul>
			<li>
				<p class="text-justify">
					<strong>
						Dynastage 
					</strong>
					: s’adresse aux élèves, étudiants et apprentis en formation de B.E.P., C.A.P., Bac pro, B.T.S., B.M.A., D.M.A., M.C. et F.C.I.L.
					<br>
					Ce dispositif permet d’apporter une aide financière du Conseil régional de Franche-Comté aux élèves, étudiants et apprentis qui souhaitent effectuer un stage à l’étranger, dans le cadre de leur cursus de formation.
				</p>
			</li>
		</ul>

		<a href="http://www.franche-comte.fr/aides-et-services/stages-et-etudes-a-letranger.html">En savoir plus</a>

		<br><br>

		
		<h3 class="text-primary" id="clee">Les comités locaux école-entreprise</h3>

		<p class="text-justify">
			<strong>
				Un comité local école entreprise (CLEE) est un lieu d’échanges et de ressources entre le monde de
				l’entreprise et les établissements scolaires dans un périmètre géographique défini.
			</strong>
		</p>

		<img src="http://www.ac-besancon.fr/local/cache-vignettes/L128xH110/clee-b8f74.jpg?1552643906">

		<br> <br>

		<p class="text-justify">
			Un CLEE n’est pas directement en contact avec les parents ou les jeunes mais travaille avec les équipes
			éducatives des établissements scolaires et les entreprises afin de les aider à proposer des actions au 
			plus au plus près des acteurs locaux autour de différents axes tels que : 
			<ul>
				<li>le parcours Avenir </li>
				<li>l’image des métiers et des entreprises auprès des familles </li>
				<li>une meilleure connaissance mutuelle entre l’économie locale et le monde de l’éducation</li>
				<li>les stages en entreprise inscrits dans le cursus scolaire des jeunes.</li>
			</ul>
		</p>

		<p class="text-justify">
			Chaque CLEE est composé :
			<ul>
				<li> d’un animateur (enseignant en décharge), qui impulse les actions du CLEE, </li>
				<li>d’un co-pilote chef d’établissement, </li>
				<li>d’un co-pilote issu du monde professionnel, </li>
				<li>de partenaires économiques et institutionnels.</li>
			</ul>
		</p>

		<p class="text-justify">
			Un CLEE s’articule autour de trois pôles :
			<ul>
				<li>
					le <strong>pôle parcours Avenir </strong>
					a pour tâche principale d’organiser au niveau du bassin les actions visant à éclairer
					l’élève sur ses choix d’orientation et lui permettre d’élaborer son projet scolaire
					et professionnel. 
				</li>
				
				<li>
					le <strong>pôle de stages </strong>
					accompagne les équipes éducatives à obtenir des stages de terrain appropriés
					aux diplômes préparés par les jeunes. 
				</li>
				
				<li>
					le <strong>pôle insertion </strong>
					travaille avec les différents acteurs de la formation par voie scolaire et
					par apprentissage afin de préparer au mieux l’insertion des jeunes sur
					le marché du travail. Il contribue également à enrichir l’analyse des besoins du territoire.
				</li>
					
			</ul>
		</p>

		<p class="text-justify">
			L’animateur du CLEE est l’interlocuteur des organisations (représentants des entreprises, entreprises
			et associations) et des équipes pédagogiques pour toutes questions ou offres portant sur l’un des trois
			axes précédemment définis.
			<br>
			Public visé : 
			<ul>
				<li>les équipes pédagogiques, </li>
				<li>les collégiens et les lycéens,  </li>
				<li>le monde économique et professionnel.</li>
			</ul>
		</p>

		<p class="text-justify">
			Dans l’académie de Besançon, cinq comités ont été créés durant l’année scolaire 2016-2017, correspondant aux cinq bassins
			d’éducation et de formation du territoire franc-comtois.
		</p>

		<a href="http://www.ac-besancon.fr/IMG/ppsx/bilan_academique_2016-_2017.ppsx">Bilan académique 2016-2017 </a>
		<br><br>
		<h4 class="text-primary">CLEE de Besançon </h4>

		<p class="text-justify">
			Animateur CLEE : Stéphanie Pinto , <span class="text-info">Courriel : stephanie.achard@ac-besancon.fr</span>
			<br>
			Co-pilotes :
			<br>
			Pour les entreprises - Agnès Cart-Lamy, agence Émergence
			<br>
			Pour les établissements scolaires - Jérôme Chevalier, proviseur-adjoint du lycée professionnel Tristan Bernard à Besançon.
			<br><br>
			<span class="text-info">Courriel : ecole-entreprise.besancon@ac-besancon.fr</span>
		</p>

		<p class="text-justify">
			<strong>Exemple d’actions conduites :</strong>
			<br>
			<ul>
				<li>
					 accompagnement des établissements scolaires dans la mise en œuvre du parcours Avenir : participation
					 à l’organisation de Mon Avenir 3.0 (forum de formations professionnelles destiné aux élèves de troisième
					 du bassin de Besançon via des visioconférences, création d’outils à destination des établissements
					 scolaires - carnet de bord de l’orientation). 
				</li>
				<li>
					 création d’un réseau de partenaires professionnels pour répondre aux demandes des établissements 
					 scolaires concernant des stages, interventions de professionnels en classe ou sur des forums des métiers. 
				</li>
				<li>
					promotion de la diversité des filières professionnelles auprès des jeunes par la réalisation
					d’actions de valorisation des métiers. 
				</li>
				<li>
					 organisation de rencontres entre les professeurs et les entreprises.
				</li>
			</ul>
		</p>

		<h4 class="text-primary">CLEE de Belfort - Montbéliard - Héricourt </h4>

		<p class="text-justify">
			Animateur CLEE :
			<br>
			Sabine Ruyer : secteur 90 , <span class="text-info">Courriel : sabine.ruyer@ac-besancon.fr</span>
			<br>
			Carole Cugniet-Belmont : secteur 70 et Clerval , <span class="text-info">Courriel : carole.cugniet@ac-besancon.fr</span>
			<br>
			Mathieu Kalyntschuk : secteur 25 , <span class="text-info">Courriel : mathieu.kalyntschuk@ac-besancon.fr</span>
			<br><br>
			Co-pilotes :
			<br>
			Pour les entreprises - Bernard Gaulier, président de l’entreprise Trevest
			<br>
			Pour les établissements scolaires - Pierre Filet, proviseur du lycée des métiers
		de la sécurité et de la prévention Les Huisselets à Montbéliard.
			<br><br>
			<span class="text-info">Courriel : ecole-entreprise.belfort-montbeliard-hericourt@ac-besancon.fr</span>
		</p>

		<p class="text-justify">
			<strong>Exemple d’actions conduites :</strong>
			<br>
			<ul>
				<li>
					 création d’un livret support pour les élèves de troisième se rendant en stage dans les entreprises
					 industrielles afin de valoriser les métiers découverts 
				</li>
				<li>
					 sondage auprès de 300 entreprises locales pour connaître les collaborations possibles souhaitées
					 entre elles et les collèges et lycées du bassin 
				</li>
				<li>
					outils de pilotage du parcours Avenir pour les chefs d’établissements 
				</li>

			</ul>
		</p>

		<h4 class="text-primary">CLEE du Jura</h4>

		<p class="text-justify">
			Animateur CLEE : Philippe Canard, <span class="text-info">Courriel : philippe.canard@ac-besancon.fr</span>
			<br>
			Co-pilotes :
			<br>
			Pour les entreprises - Éric Jeanningros, directeur de l’entreprise Décolletage jurassien 
			<br>
			Pour les établissements scolaires - Corinne Renaud, proviseure du lycée professionnel
			Pierre Vernotte de Moirans-en-Montagne et Stéphane Arru, proviseur du lycée des métiers
			du sanitaire et du social Paul-Émile Victor à Champagnole.
			<br><br>
			<span class="text-info">Courriel : ecole-entreprise.jura@ac-besancon.fr</span>
		</p>

		<p class="text-justify">
			<strong>Exemple d’actions conduites :</strong>
			<br>
			<ul>
				<li>
					 enquête dans les collèges du bassin sur les actions relations école-entreprise
					 existantes et les séquences d’observation en entreprise en troisième, 
				</li>
				<li>
					 promotion des métiers de l’industrie,  
				</li>
				<li>
					rencontres des partenaires : CCI, CIO, associations, organisations professionnelles
					(UIMM, Capeb, U2p,...), référents établissements, 
				</li>
				<li>
					rencontres en sous-préfecture (soirée des entreprises Saint-Claude, Clefi Dole), 
				</li>
				<li>
					encouragement à création d’un espace dédié à la relation école entreprise dans les
					établissements (promotion d’actions), 
				</li>
				<li>
					développement de l’offre de stages (les "Un-dix CLEE" 39 :
					un établissement-dix entreprises ; identification de professionnels référents) 
				</li>
				<li>
					rédaction et diffusion d’un bulletin d’information qui a pour vocation principale
					de promouvoir les actions locales de relation école-entreprise. Il est adressé par
					voie électronique aux établissements scolaires du Jura, aux entreprises et organisations
					professionnelles, aux administration et associations, aux CIO… 
				</li>

			</ul>
		</p>

		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/les_infos_clee39_numero_1.pdf">N°1 des "Infos CLEE 39" </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/calendrier_stages_colleges_2018-2019.pdf">Calendrier des séquences d’observation en milieu professionnel des élèves de 3e de collège  </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/arrondissements_cantons_colleges_lycees.pdf">Carte des collèges et lycées par canton du Jura </a>
		<br><br>

		<h4 class="text-primary">CLEE de Morteau - Pontarlier</h4>

		<p class="text-justify">
			Animateur CLEE : Rémy Pourchet, <span class="text-info">Courriel : remi.pourchet@ac-besancon.fr</span>
			<br>
			Co-pilotes :
			<br>
			Pour les entreprises - Jacques Adriansen, Président de l’Union nationale de l’aide, des soins, des services aux domiciles Franche-Comté, syndicat d’employeurs)
			<br>
			Pour les établissements scolaires - Rosine Capristo, principale du collège
		Lucie Aubrac à Doubs.
			<br><br>
			<span class="text-info">Courriel : ecole-entreprise.morteau-pontarlier@ac-besancon.fr</span>
		</p>

		<p class="text-justify">
			<strong>Exemple d’actions conduites :</strong>
			<br>
			<ul>
				<li>
					 harmonisation des calendriers de stages pour tous les établissements scolaires du bassin, 
				</li>
				<li>
					 rencontre avec les acteurs de la formation initiale et continue pour mise en commun des
					 carnets d’adresses d’entreprises susceptibles d’accueillir des élèves en stage. 
				</li>
				

			</ul>
		</p>

		<h4 class="text-primary">CLEE de Vesoul - Gray - Luxeuil </h4>

		<p class="text-justify">
			Animateur CLEE : Virginie Coupriaux, <span class="text-info">Courriel : virginie.coupriaux@ac-besancon.fr</span>
			<br>
			Co-pilotes :
			<br>
			Pour les entreprises - Martial Braud, ancien DRH de l’entreprise Lufkin 
			<br>
			Pour les établissements scolaires - Yolande Legal-Girard, principale du collège Jean Macé de Vesoul.
			<br><br>
			<span class="text-info">Courriel : ecole-entreprise.vesoul-gray-luxeuil@ac-besancon.fr</span>
		</p>


		<p class="text-justify">
			<strong>Exemple d’actions conduites :</strong>
			<br>
			<ul>
				<li>
					cartographie des lieux d’accueil en stage pour les élèves de 3e à destination des équipes pédagogiques 
				</li>
				<li>
					 modifier l’organisation de la séquence d’observation de troisième
					 (par exemple : deux élèves découvrent trois entreprises pendant trois jours) avec
					 mise en application pour l’année scolaire 2017-2018.  
				</li>
				<li>
					réalisation d’une lettre d’information qui a pour vocation de promouvoir les actions locales
					de relation école-entreprise (projets pédagogiques, stages en entreprise...). Elle est adressée
					par voie électronique aux établissements scolaires du bassin, aux entreprises et organisations
					professionnelles, aux administration et associations, aux CIO… 
				</li>
				
			</ul>
		</p>

		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/newsletter_1_septembre_2018.pdf">Newsletter 1 - septembre 2018 </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/newsletter_2_octobre_2018.pdf">Newsletter 2 - octobre 2018 </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/newsletter_3_novembre_2018.pdf"> Newsletter 3 - novembre 2018 </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/newsletter_4_decembre_2018.pdf">Newsletter 4 - décembre 2018  </a>
		<br><br>
		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/newsletter_5_janvier_fevrier_2019.pdf">Newsletter 5 - janvier-février 2019  </a>
		<br><br>

		<h4 class="text-primary">Références</h4>

		<a href="http://www.education.gouv.fr/pid25535/bulletin_officiel.html?cid_bo=86521">Pôles de stages circulaire n°2015-035 du 25-02-2015</a>
		<br><br>
		<a href="http://www.education.gouv.fr/pid285/bulletin_officiel.html?cid_bo=109428">Développer et structurer les relations école entreprise circulaire n°2016-183 du 22-11-2016</a>
		<br><br>
		<a href="http://www.education.gouv.fr/cid96155/ecole-entreprise-12-mesures-pour-developper-les-relations-pour-l-orientation-et-l-insertion-professionnelle-des-jeunes.html">École entreprise : 12 mesures pour développer les relations pour l’orientation et l’insertion professionnelle des jeunes</a>
		<br><br>

		<h3 class="text-primary" id="reec">Les référents école-entreprise en collège (REEC)</h3>

		<p class="text-justify">
			<strong>
				Une mission centrale de l’école est de préparer l’insertion sociale
				et professionnelle des jeunes et de les accompagner au mieux dans leur
				future vie de citoyen, y compris dans sa dimension économique.
			</strong>
		</p>

		<p class="text-justify">
			Le développement de projets école-entreprise dans les collèges nécessite
			la mise en place d’un référent au sein de l’établissement, qui a vocation
			à identifier, définir et mettre en œuvre les actions visant à structurer
			la relation entre l’établissement d’affectation et le monde professionnel,
			et à installer le processus d’animation de cette relation.
		</p>

		<p class="text-justify">
			Choisi pour une année scolaire par le chef d’établissement sur la base du volontariat, nommé par le recteur, le REEC est chargé, sous la responsabilité et l’autorité du chef d’établissement, de définir, de coordonner et d’animer l’ensemble des relations du collège avec les représentants du monde professionnel.
			<br>
			Des connaissances du monde de l’entreprise et de l’économie locale sont souhaitables pour accomplir au mieux la mission
		</p>

		<p class="text-justify">
			Le REEC est essentiellement : 
			<ul>
				<li>
					l’interlocuteur clairement identifié par les différents membres de la communauté éducative et les partenaires économiques et professionnels. 
				</li>
				<li>
					le coordonnateur des actions collège - entreprises entre les différents partenaires internes et externes à l’établissement. 
				</li>
				<li>
					le coordonnateur des actions collège-lycées technologiques et professionnels.
				</li>
			</ul>
		</p>

		<p class="text-justify">
			Le référent valorise et mutualise les bonnes pratiques afin de pérenniser les relations de l’établissement avec les milieux professionnels et économiques.
			Il peut solliciter l’aide du comité local école-entreprise pour mener à bien sa mission.
		</p>

		<p class="text-justify">
			Les REEC se constituent en réseau animé durant l’année par la DAFPIC au moyen de rencontres ponctuelles et d’échanges lors de réunions de bassin. Ils sont ainsi le relais de la relation école-entreprise au sein des équipes pédagogiques des collèges.
		</p>

		<p class="text-justify">
			Une action de formation, inscrite au PAF, est organisée chaque année par la mission école-entreprise. Elle leur permet de découvrir de nouvelles entreprises et favorise les échanges entre les différents REEC.
		</p>

		<p class="text-justify">
			Exemples d’action conduites par les REEC : 
			<ul>
				<li>
					organisation de visites d’entreprise,
				</li>
				<li>
					rencontres avec des professionnels pour des conférences ou lors de forums de métiers, 
				</li>
				<li>
					sensibilisation des collègues enseignants à des concours ou des manifestations permettant de découvrir des filières et des métiers, 
				</li>
				<li>
					accompagnement des élèves de 3e pour la recherche de lieu de stage, 
				</li>
				<li>
					sensibilisation des jeunes filles aux métiers de l’industrie
				</li>
			</ul>
		</p>

		<a href="http://www.ac-besancon.fr/IMG/xlsx/liste_des_reec-2017-2018.xlsx">Liste des REEC</a>

		<br><br>


		<h4 class="text-primary">Contact</h4>
		<p class="text-justify">
			Graziella Galante-Bertolin, chargée de mission école-entreprise
			<br>
			Tél. : 03 81 65 73 74
			<br>
			<span class="text-info">Courriel : graziella.galante-bertolin@ac-besancon.fr</span>
		</p>

		<br><br>


		<h3 class="text-primary" id="enseignant">Les enseignants en entreprise</h3>

		<p class="text-justify">
			<strong>
				Dans le cadre du plan académique de formation (PAF), la mission école-entreprise de la DAFPIC organise des actions de rapprochement entre les enseignants et le monde professionnel
			</strong>
		</p>


		<h4 class="text-primary">Stages collectifs en entreprise</h4>

		<p class="text-justify">
			Ces stages sont proposés par la délégation académique à la formation professionnelle initiale et continue (mission école-entreprise). Ces stages s’adressent aux référents école-entreprise de collège, aux professeurs de collège, de lycées généraux, technologiques ou professionnels.
		</p>

		<p class="text-justify">
			L’objectif : connaître l’environnement et l’organisation de l’entreprise par une démarche collective d’observation, de questionnements et d’échanges.
			<br>
			La découverte d’un secteur d’activités et de ses métiers se fera par la visite d’une entreprise, suivie d’entretiens avec des différents collaborateurs de l’entreprise. [responsables (responsable de site, DRH, responsable de production, directeur marketing…)
		</p>

		<p class="text-justify">
			Pour l’année 2017/2018, quatre stages sont planifiés (soit un par département).
		</p>

		<h4 class="text-primary">Renseignements et inscriptions</h4>

		<p class="text-justify">
			Dispositif 20170525, modules 16098, 16099, 16100 et 16101
		</p>

		<h4 class="text-primary">Contact</h4>

		<ul>
			<li>
				Nelly Clerval, chargée de mission école-entreprise
				<br>
				Tél : 03 81 65 74 27
				<br>
				<span class="text-info">Courriel : nelly.clerval@ac-besancon.fr</span>
			</li>
			<li>
				Jean-Philippe Rosnet
				<br>
				<span class="text-info">Courriel : jean-phili.rosnet@ac-besancon.fr</span>
			</li>
		</ul>

		<a href="http://www.ac-besancon.fr/spip.php?article4113">En savoir plus</a>

		<br><br>

		<h3 class="text-primary" id="catalogue">Catalogue des actions relation école-entreprise</h3>

		<p class="text-justify">
			<strong>
			De nombreuses actions pédagogiques - concours, manifestations, projets - peuvent être mises en place pour promouvoir une discipline, former à la citoyenneté ou encore faire découvrir les métiers et les formations de la voie professionnelle.
			</strong>
		</p>

		<p class="text-justify">
			Elles permettent, dans le cadre d’un parcours de formation : 
			<ul>
				<li>
					d’acquérir des compétences complémentaires et transposables, 
				</li>
				<li>
					de mobiliser les équipes enseignantes et les classes autour d’un projet fédérateur et souvent innovant.
				</li>
			</ul>
		</p>

		<p class="text-justify">
			Un grand nombre de ces actions a été répertorié dans cette rubrique. Sans être exhaustive, cette liste se veut être un large catalogue des projets pouvant être conduits par les enseignants ou les élèves dans l’académie de Besançon.
		</p>

		<a href="http://www.ac-besancon.fr/download.php?pdf=IMG/pdf/catalogue_des_actions_ree_2018-2019.pdf">Catalogue des actions relation école-entreprise 2018-2019 </a>
		<br><br>

		<h4 class="text-primary">Contact</h4>

		<p class="text-justify">
		DAFPIC - Rectorat de Besançon
		<br>
		Tél : 03 81 65 74 48 
		<br>
		<span class="text-info">Courriel : ce.dafpic@ac-besancon.fr</span>

		</p>

		<br><br>

		<h3 class="text-primary" id="visite">Visites en entreprises : ressources utiles</h3>

		<p class="text-justify">
			<strong>
				La mission École-entreprise du rectorat de Besançon a listé les sites pouvant être utiles pour préparer et/ou exploiter une visite d’entreprise réalisée avec des élèves/étudiants/apprentis.
			</strong>
		</p>

		<h4 class="text-primary">Journée nationale des jeunes</h4>
		<p class="text-justify">
			Cette journée est fondée par l’association Banyan, en partenariat avec l’éducation nationale.
			En amont de la visite / Documents pédagogiques préparatoires à la visite / Documents pédagogiques d’exploitation de la visite / Documents administratifs.
		</p>

		<a href="http://jndj.org/les-kit-pedagogiques/">En savoir plus</a>
		<br><br>

		<h4 class="text-primary">ONISEP</h4>
		<p class="text-justify">
			Proposition de démarche pédagogique (Pdmf/Piiomep) 
		</p>

		<a href="http://www.onisep.fr/Mon-industrie">En savoir plus</a>
		<br><br>

		<h4 class="text-primary">UIMM</h4>
		<p class="text-justify">
			En amont de la visite / Pendant la visite / Après la visite
		</p>

		<a href="http://www.les-industries-technologiques.fr/outils-pedagogiques/">En savoir plus</a>
		<br><br>

		<h4 class="text-primary">MEDEF</h4>

		<a href="https://fr.slideshare.net/medef/semaine-ecole-entreprise-2014-cest-quoi-une-entreprise">En amont de la visite</a>
		<br>
		<a href="http://www.beautravail.org/index.php/responsive/telechargez-les-kits-pedagogiques-bt">Présentation de métiers</a>
		<br><br>

		<h4 class="text-primary">Académie de Clermont </h4>

		<a href="http://ecole-entreprise.ac-clermont.fr/pages-ressources/19-pages-ressources/176-preparer-une-visite-d-entreprise">Propose tout un travail d’accompagnement en amont et en aval</a>
		<br><br>

	</article>
</section>	
	
{% endblock %}